*{
  font-family: 'Raleway', sans-serif;

}
body{
    background-color: black;
    margin: 0;
    padding: 2%;

}
body header{
    background-image: url("../IMG/concierto.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 5%;
    width: 100%;



}
body header nav{
    background-color: black;
}
body header nav ul{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding-bottom: 2%;  
}
body header nav ul li a{
    text-decoration: none;
    color:white;
}
body header nav ul li a:hover{
    text-decoration-line: underline;
}
body header nav ul li a img{
    height: 100px;
}
.Header-texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.HeaderH{
    font-size: 5vw;
    color:white;
    text-align: center;
    font-family: 'Monoton', cursive;

}
body header p{
    text-align: center;
    color:white;
}
.fas.fa-angle-down{
    margin-top: 3rem;
    color:white;
    font-size: 2rem;
}
.Seccion1{
    background-color:white;
    display: grid;
    grid-template-columns: repeat(3,32.7%);
  
    grid-gap: 0.3rem;
    padding: 1%;
    align-self: center;
}
.Seccion1 div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding-bottom: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    
}
.Seccion1 div h3{
    color: darkred;
}
.Seccion1 div a{
    text-decoration: none;
    color:white;
    padding: 2% 35%;
    background-color: orange;
   
   
}
.Seccion1 div a:hover{
    transition: all 0.2s;
    background-color: white;
    color:orange;
}
.Seccion1-img1{
    content: "";
    background-image: url("../IMG/feauture1.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 2rem;

}
.Seccion2{
    background-image: url("../IMG/contacus.jpg");
    background-position: center;
    background-size: cover;
    padding: 2%;
}
.Seccion2 form{
    display: grid;
    grid-template-columns: repeat(2,50%);
    grid-column-gap:2%;
    padding:5%;
}
.Seccion2-inputs{
    display: flex;
    flex-direction: column;
    
  
    
}
.Seccion2-inputs label{
    color:white;
}
.Seccion2-inputs input{
    border: 0px;
    border-radius: 5px;
    width: 98%;
    padding-left:2%;
    margin-bottom: 3%;

    

}
.Seccion2-inputs a{
    padding: 2% 40%;
    background-color: orange;
    color:white;
    text-decoration: none;
    text-align: center;
}
.Seccion2-inputs a:hover{
    background-color:white;
    color:orange;
    transition: all 0.2s;
}
.Seccion2-texto{
    border-radius: 10px;
    Display:flex;
    flex-direction: column;
    background-color: black;
    opacity: 0.7;
    color:white;
    padding-left: 2%;
    padding-top: 2%;
}
.Contenedorfooter{
    background-color: black;
    display: grid;
    grid-template-columns: repeat(2,50%);
}
.Footerparte1{
    color:white;
    

}
.Footerparte1 nav ul{
    list-style: none;
}
.Footerparte1 nav ul li a{
    color:white;
    text-decoration: none;
    

}
.Footerparte2{
    color:white;

}
.Footerparte2 nav ul{
    list-style: none;

}
.Footerparte2 nav ul li a{
    color:white;
    text-decoration: none;

}
footer p{
    text-align: center;
    color:gray;
}